@tailwind base;
@tailwind components;
@tailwind utilities;

/* スマホでのスクロールやズームを制御 */
body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: manipulation;
}
